/*=========== GENERAL ==============*/
/*general stuff, just shit youd be using on the regular*/
* {
    box-sizing: border-box;
}
div {
    padding: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, Helvetica, sans-serif;
    color: greenyellow;
    border-bottom: 3px, green;
    margin: 10px;
    padding: 0px;
}
p {
    font-family: Lexend Deca, Helvetica, sans-serif;
    margin: 5px;
    padding: 0px;
}

/*=============== HEADER IMAGE ================= */
/* adjust as needed, rn its just a thing to test */
header {
    width: auto;
    height: 350px;
    overflow: hidden;
    margin: -8px;
}
header img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
/* ============== NAV BAR ================== */
/* important as hell, this shit makes the navbar look pretty,*/
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px;
    margin: -8px;
    background: rgb(120, 202, 58);
    width: auto;
}
nav a {
    position: relative;
    left: 180px;
    font-family: Montserrat, sans-serif;
    color: white;
    padding: 20px;
    text-decoration-line: none;
    background: rgb(120, 202, 58);
}
nav a:hover { 
    background: rgb(146, 222, 88);
}
nav img {
    /*adjust as needed for the ACTUAL logo but i am sure HTML is not stupid and it can load svg*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    padding: 10px;
}

/*================== CLASS DUMP =====================*/
/*adjust as needed, i may love my readily applied code but i know a class is smart when i see it, use when needed!*/
.showcase {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    margin: 20px auto 8px auto;
    border: 2px greenyellow solid;
    padding: 20px;
    width: 85%;
    max-width: 100%;
}
.showcase-content {
    flex: 1;
    margin: -8px;
    padding: 0;
}
.showcase-img {
    max-width: 50%;
    height: auto;
    padding: 5px;
}

/* ====================== MOBILE SPECIFIC CONTENT ================================ */
@media screen and (max-width: 728px) {
    .showcase {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    margin: 20px 8px 8px;
    border: 2px greenyellow solid;
    padding: 20px;
    width: 85%;
    max-width: 100%;
    }
}