/*=========== GENERAL ==============*/
/*general stuff, just shit youd be using on the regular*/
* {
    box-sizing: border-box;
}
div {
    padding: 0.625rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, Helvetica, sans-serif;
    color: greenyellow;
    border-bottom: 3px, green;
    margin: 0.625rem;
    margin-left: 0.25rem;
    padding: 0;
}
p {
    font-family: Lexend Deca, Helvetica, sans-serif;
    margin: 0.312rem;
    padding: 0;
}

/*=============== HEADER IMAGE ================= */
/* adjust as needed, rn its just a thing to test */
header {
    width: auto;
    height: 21.875rem;
    overflow: hidden;
    margin: -0.5rem;
}
header img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
/* ============== NAV BAR ================== */
/* important as hell, this shit makes the navbar look pretty,*/
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1.25rem;
    margin: -0.5rem;
    background: rgb(120, 202, 58);
    width: auto;
}
.nav-links a {
    position: relative;
    left: 11.25rem;
    font-family: Montserrat, sans-serif;
    color: white;
    padding: 1.25rem;
    text-decoration-line: none;
    background: rgb(120, 202, 58);
}
.nav-links a:hover { 
    background: rgb(146, 222, 88);
}
nav img {
    /*adjust as needed for the ACTUAL logo but i am sure HTML is not stupid and it can load svg*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    padding: 0.625rem;
}
.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/*================== CLASS DUMP =====================*/
/*adjust as needed, i may love my readily applied code but i know a class is smart when i see it, use when needed!*/
.showcase {
    align-items: flex-start;
    display: flex;
    gap: 1.25rem;
    margin: 1.25rem auto 0.5rem auto;
    border: 2px greenyellow solid;
    padding: 1.25rem;
    width: 85%;
    max-width: 100%;
}
.showcase-content {
    flex: 1;
    margin: -0.5rem;
    padding: 0;
}
.showcase-img {
    max-width: 50%;
    height: auto;
    padding: 0.312rem;
}

/* ====================== MOBILE SPECIFIC CONTENT ================================ */
@media screen and (max-width: 728px) {
    /* showcase to get rid of the gaps on the side */
    .showcase {
    width: 100%;
    max-width: 100%;
    }
    /*navbar fix*/
    nav {
        display: grid;
        grid-template-columns: auto 1fr auto; /* logo | space | button */
        align-items: center;
    }
    nav img {
        padding: 1rem;
        margin: -0.5rem;
        flex-shrink: 0;
        margin-top: -0.1rem;
    }
    .nav-links a {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-links {
        display: none;
        grid-column: 1 / -1; 
        order: 3; 
    }
    /* button! mobile only */
    .nav-toggle {
        display: block;
        flex-shrink: 0;
        margin-left: auto;
        z-index: 1001;
        font-size: 2rem;
        padding: 0 0.5rem;
        padding-bottom: 0.25rem;
        background: rgb(120, 202, 58);
        color: white;
        grid-column: 3;
    }
    .nav-toggle:active {
        background:rgb(146, 222, 88);
    }
    /*button functionality i believe???*/
    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90%; 
        right: 0;
        width: 50%;
        background: rgb(120, 202, 58);
        grid-column: unset;
    }
    .nav-links.active a {
        display: block;
        position: relative;
        left: 0;
        padding: 1rem;
        border-bottom: 1px solid #eee;
        background: none;
    }
}