/* apparently theres a very common model of css values, im just going to dump it here for reference:
- layout
- size
- decoration
*/
/*TODO: fetch design ideas from school website but DO NOT copy and paste it exactly*/
/*=========== GENERAL ==============*/
/*general stuff, just shit youd be using on the regular*/
* {
    box-sizing: border-box;
}
div {
    padding: 0.625rem;
}
body {
    background: rgb(201, 89, 201);
}

h1 { /* acts as BIG title */
    /* TODO: figure out FINAL design for this */
    display: block;
    width: auto;
    padding: 0.5rem;
    margin: 0.67em -0.5rem;
    font-family: Poppins, Helvetica, sans-serif;
    color: white;
    background: purple;
}
h2, h3, h4, h5, h6 { /* acts as regular headers except h6 is chopped off (sorry h6) */
    margin: 0.625rem;
    margin-left: 0.25rem;
    padding: 0;
    font-family: Poppins, Helvetica, sans-serif;
    color: purple;
}
/* sizing changes */
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.17em;}
h5 {font-size: 1.33em;}
h6 {font-size: 0.83em;}
p {
    margin: 0.312rem 1rem;
    padding: 0;
    font-family: Lexend Deca, Helvetica, sans-serif;
}
img {
    filter: blur(0.4px); /*skedaddle skidoodle pixels be gone*/
}

/*=============== HEADER ================= */
/*this is basically a hero image*/
header {
    width: auto;
    overflow: hidden;
    height: 24rem;
    margin: -0.5rem;
}
header img {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
/* ============== NAV BAR ================== */
/* important as hell, this shit makes the navbar look pretty,*/
nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: auto;
    padding: 0.75rem;
    margin: -0.5rem;
    background: rgb(120, 202, 58);
}
.nav-links {
    align-self: center;
}
.nav-links a {
    padding: 1.25rem;
    font-family: Montserrat, sans-serif;
    color: white;
    text-decoration: none;
    background: rgb(120, 202, 58);
    border-radius: 0.5rem;
}
.nav-links a:hover {
    background: rgb(146, 222, 88);
    border-radius: 0.5rem;
}
.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/*================== FOOTER =====================*/
/* contacts and shit go here */
/* TODO: footer is absolutely not finished so please finish it */
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 0.75rem;
    margin: -0.5rem;
    margin-top: 2rem;
    background: purple;
}
footer .contacts {
    color: white;
    font-size: 0.9rem;
}
footer h4 {
    font-size: 1.33em;
    color: white;
}

/*================== CONTENT ITSELF (i put it in a .showcase tag and now i know no better way to describe it) =====================*/
.showcase {
    overflow: hidden;
    padding: 1.25rem;
    width: 85%;
    max-width: 100%;
    margin: 1.25rem auto 0.5rem auto;
    background: white;
    border: 3px rgb(159, 212, 59) solid;
    border-radius: 0.5rem;
}
/*respect the order, image first, content second (float just works like that)*/
img.float {
    float: right;
    max-width: 50%;
    height: auto;
    padding: 0;
    margin: 0.5rem;
}
.showcase-content {
    margin: -0.5rem;
    padding: 0;
}
.showcase-grid-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: 0.625rem;
}
.showcase-grid-content div {
    margin: 0;
    padding: 0.5rem;
    border: 1px solid greenyellow;
    border-radius: 0.5rem;
}
.showcase-grid-content img {
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    height: 30rem;
    border-radius: 0.5rem;
    width: 100%;
}

/* ========================== PRODUCTS GRID =================================== */
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0.625rem;
}
.products-special {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.625rem;
}
.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0; 
    padding-bottom: 0.625rem;
    border: 3px rgb(104, 156, 9) solid;
    border-radius: 0.5rem;
}
.product-card .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    margin: -0.5rem 0.5rem -0.5rem -0.5rem;
}
.products-special .product-card .footer {
    padding: 1rem 0.5rem;
}
.order {
    margin-left: 1rem;
}
.product-card img {
    display: block;
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
}
.product-card h1, h2, h3, h4, h5, h6 { padding: 0 0.625rem; margin-bottom: -0.5rem; }
.price {
    display: inline-block;
    margin: 0.625rem;
    padding: 0.625rem;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    background-color: green;
    border-radius: 0.3rem;
}
/* hover effect oooooo (only on regular, the custom orders get borked) */
.products .product-card:hover { transform: scale(1.05); }
.error /*error message for the thing*/ {
    display: block;
    
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: red;
}

/* ====================== MOBILE SPECIFIC STYLES ================================ */
@media screen and (max-width: 728px) {
    /* showcase to get rid of the gaps on the side */
    .showcase {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }
    .showcase-content {
        order: 1;
    }
    img.float {
        float: none;
        order: 2;
        padding-top: 1.5rem;
        margin: -0.5rem;
    }
    .showcase-grid-content {
        display: flex;
        flex-direction: column;
        grid-template-columns: unset !important;
        margin-top: 1rem;
    }
    .showcase-grid-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }
    /*navbar fix*/
    nav {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }
    .nav-links {
        display: none;
        width: 100%;
    }
    /* button! mobile only */
    .nav-toggle {
        display: block;
        grid-column: 3;
        flex-shrink: 0;
        font-size: 2rem;
        margin-left: auto;
        padding: 0 0.5rem 0.25rem 0.5rem;
        background: rgb(120, 202, 58);
        color: white;
        border-radius: 0.5rem;
    }
    .nav-toggle:active {
        background:rgb(146, 222, 88);
        border-radius: 0.5rem;
    }
    /*button functionality i believe???*/
    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90%; 
        right: 0;
        width: 50%;
        background: rgb(120, 202, 58);
    }
    .nav-links.active a {
        align-items: flex-start;
        padding: 1rem;
        border-bottom: 1px solid white;
        background: none;
    }
}